<mat-toolbar color="primary">
    <!-- <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <!-- START LOGO & TITLE -->
    <div>
        <img id="logo" src="assets/MBS_logo.jpg">
        <span>MBS</span>
    </div>
    <!-- STOP: LOGO & TITLE -->
    <span class="example-spacer"></span>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <label>Home</label>
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <label>The Latest</label>
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <label>Donate</label>
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <label>Exhibits & Shows</label>
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <label>Classes</label>
    </button>
    <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <label>Workshops</label>
    </button>
</mat-toolbar>