<mat-toolbar color="primary">
    <!-- <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <!-- START LOGO & TITLE -->
    <div>
        <img id="logo" src="assets/MBS_logo.jpg">
        <span>MBS</span>
    </div>
    <!-- STOP: LOGO & TITLE -->
    <span class="example-spacer"></span>
    <button mat-button (click)="onHome($event)">
        Home
    </button>
    <button mat-button (click)="onTheLatest($event)">
        The Latest
    </button>
    <button disabled mat-button>
        <label>Donate</label>
    </button>
    <button disabled mat-button>
        <label>Exhibits & Shows</label>
    </button>
    <button disabled mat-button>
        <label>Classes</label>
    </button>
    <button disabled mat-button>
        <label>Workshops</label>
    </button>
</mat-toolbar>
