<div id="root">
    <mat-divider></mat-divider>

    <div id="footer-r">
        <div>Important Links</div>
        <ul>
            <li><a href="https://www.milwaukeebonsai.org/mbs_society.html">The Society</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_latest.html">What's New</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_classes.html">Education</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_volunteers.html">Volunteer</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_support.html">Support Us</a></li>
        </ul>
        <ul>
            <li><a href="https://www.milwaukeebonsai.org/mbs_newsletters.html">Newsletters</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_schedule.html">Schedule</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_meetings.html">Meetups</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_shows.html">Shows</a></li>
            <li><a href="https://www.milwaukeebonsai.org/ae/index.html">Annual Exhibit</a></li>
        </ul>
        <ul>
            <li><a href="https://www.milwaukeebonsai.org/mbs_board.html">Board</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_instructors.html">Instructors</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_staff.html">Administration</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_artists.html">Guest Artists</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_workshops.html">Workshops</a></li>
        </ul>
        <ul>
            <li><a href="https://www.milwaukeebonsai.org/mbs_links.html">Links</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_history.html">History</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_membership.html">Member Resources</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_meetings.html">FAQ</a></li>
            <li><a href="https://www.milwaukeebonsai.org/mbs_contact.html">Contact Us</a></li>
        </ul>
    </div>

    <div id="footer-r">
        <div>Join Milwaukee Bonsai Society</div>
        <p>
            Let the fun begin! Consider your best choice for bonsai fun, education, and community service.
        </p>
        <a href="http://www.milwaukeebonsai.org/docs/YC/MembershipApplication.pdf"><button>JOIN US!</button></a>
        <a href="https://www.facebook.com/milwaukeebonsai.org/"><button>Facebook</button></a>
    </div>

    <mat-divider></mat-divider>

    <div id="footer-end"> © {{todays_date_full_year}} Milwaukee Bonsai Society | All Rights Reserved</div>
</div>
