#root {

}

ul {
    display: inline-block;
    list-style: none;
}

#footer-l {
    padding: 1em;
    display: inline-block;
    width: 100%;
    max-width: 720px;
    max-height: 275px;
}

#footer-r {
    padding: 1em;

}

#footer-end {
    text-align: center;
}