<div id="root">
    <div id="footer-r">
        <div>Important Links</div>
        <ul>
            <li>The Society</li>
            <li>What's New</li>
            <li>Education</li>
            <li>Volunteer</li>
            <li>Support Us</li>
        </ul>
        <ul>
            <li>Newsletters</li>
            <li>Schedule</li>
            <li>Meetups</li>
            <li>Shows</li>
            <li>Annual Exhibit</li>
        </ul>
        <ul>
            <li>Board</li>
            <li>Instructors</li>
            <li>Administration</li>
            <li>Guest Artists</li>
            <li>Workshops</li>
        </ul>
        <ul>
            <li>Links</li>
            <li>History</li>
            <li>Member Resources</li>
            <li>FAQ</li>
            <li>Contact Us</li>
        </ul>
    </div>

    <div id="footer-r">
        <div>Join Milwaukee Bonsai Society</div>
        <p>
            Let the fun begin! Consider your best choice for bonsai fun, education, and community service.
        </p>
        <button>JOIN US!</button>
        <button>Facebook</button>
    </div>

    <div id="footer-end"> © 2020 Milwaukee Bonsai Society | All Rights Reserved</div>
</div>