<body>
  <!-- <div id="banner">
    <img id="banner-img" src="assets/mbs_banner_bkgd.jpg" />
    <h1>
      Milwaukee Bonsai Society: We do something really useful, important, and
      unique. Learn all about it here ...
    </h1>
    <button>Go On, Join</button>
    <button>Go to MABA Symposium!</button>
  </div> -->

  <div id="content">
    <mat-card >
      <mat-card-title>Meetings and Demonstrations</mat-card-title>
      <mat-card-content>
        <img src="assets/2015RecordMeeting.jpg"  />
        <br />
        In order to expose members to a variety of styling approaches and
        perspectives, MBS strives to bring in major bonsai talent for
        demonstrations and panel discussions. We enjoy world class artists
        demonstrating the latest trends in Bonsai. Monthly meetings also brings
        us together to enjoy the company of fellow enthusiests.
      </mat-card-content>
    </mat-card>

    <mat-card >
      <mat-card-title>Exhibits and Shows</mat-card-title>
      <mat-card-content>
        <img src="assets/2019_AE_group.jpg"  />
        <br />
        MBS sponsors two major shows each year along with several smaller shows.
        During the Wisconsin State Fair in August, the Horticulture Building is
        home to our largest judged show, and our Annual Exhibit is a three day
        affair showcasing our member's best trees. MBS also sponsors booths at
        garden shows, the Folk Fair and a Silhouette show. Ribbons and plaques
        aside, one of the greatest rewards of the shows is the public response.
      </mat-card-content>
    </mat-card>

    <mat-card >
      <mat-card-title>Classes and Workshops</mat-card-title>
      <mat-card-content>
        <img src="assets/2019_BC_2.jpg"  />
        Classes and Workshops at all levels are available for MBS members.
        Novice classes and beginner workshops are tailored to the new bonsai
        enthusiast and general public. Intermediate classes and workshops are
        designed to share skills and knowledge of our own MBS members. Advanced
        classes and workshops are the highlight of our instructional program.
        These artists, who have national and international reputations for
        excellence, teach their own creative styling and horticultural
        techniques.
      </mat-card-content>
    </mat-card>

    <mat-card style="width: 500px; height: 400px;">
      <mat-card-title>Who We Are</mat-card-title>
      <mat-card-subtitle>Dedicated Volunteers</mat-card-subtitle>
      <mat-card-content>
        <img src="assets/AdvanceClass_large.jpg" style="width: 400px" />
        <p>
          MBS is a non-profit organization dedicated to helping individuals in
          their efforts to increase their knowledge and skills in the art of
          bonsai. MBS also seeks to foster an increased awareness of the art of
          bonsai and of the Society's activities among the general public of
          Southeastern Wisconsin.
        </p>

        <p>
          MBS meets the first Tuesday of the month from February through
          November. Meetings are fun, informative, and a great way to learn more
          about this fascinating art.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 300px; height:250px;">
      <mat-card-title>What We Do</mat-card-title>
      <mat-card-subtitle>Offer A Wide Range of Resources</mat-card-subtitle>
      <mat-card-content>
        <ul>
          <li>Meetings</li>
          <li>Classes</li>
          <li>Workshops</li>
          <li>Exhibits and Shows</li>
          <li>Newsletter</li>
          <li>Schedule</li>
          <li>Links</li>
          <li>Member Resources</li>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card >
      <mat-card-title>What Our leaders Are Saying</mat-card-title>
      <mat-card-subtitle>Catch the Wave of Enthusiasm</mat-card-subtitle>
      <mat-card-content>
        <img src="assets/Brian_L.jpg" style="width: 50px;">
        <p>
          "We have many guest artists and members that will teach you all they
          know about bonsai. If you have any questions that you can't find an
          answer to on the website please contact me. 414-364-5253 Or
          bryan11lor@gmail.com "
          <br>
          <b>Bryan L. President MBS</b>
        </p>
        <mat-divider inset></mat-divider>
        <img src="assets/Melissa.jpg" style="width: 50px;">
        <p>
          Bonsai is an art with an ever changing canvas since our trees are constantly growing."
          <br>
          <b>Melissa J., Past President MBS</b>
        </p>
        <mat-divider inset></mat-divider>
        <img src="assets/Steve.jpg" style="width: 50px;">
        <p>
          "I want to look at it (my tree) and really feel the WOW!"
          <br>
          <b>Steve C., Instructor Intermediate Class</b>
        </p>
        <mat-divider inset></mat-divider>
        <img src="assets/Houston.jpg" style="width: 50px;">
        <p>
          "the value of bonsai comes with your connection to that tree. You can purchase a “bonsai” but not the experience of bonsai"
        <br>
        <b>Houston S., Advanced student MBS</b>
        </p>
        <mat-divider inset></mat-divider>
        <img src="assets/Pam_70.jpg" style="width: 50px;">
        <p>
          "I understand what a great educational opportunity the club provides."
        <br>
        <b>Pam W., Webmaster MBS</b>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</body>
