<div id="root">
  <div style="display: inline-block; width: 600px">
    <mat-card>
      <mat-card-title> The Latest </mat-card-title>

      <mat-card-content>
        <h3>
          <b>Ancient Arts Bonsai Spring Open House - April 24th 10:00AM</b>
        </h3>
        <p>
          Stock up on all your Spring Repotting Needs - Soils, Pots, Trees, and
          supplies. See the newsletter for details Contact call or text
          262-490-8733 or email aabonsai@charter.net
        </p>

        <h3>
          <b>Zoom Meeting - Guest Artist Rick Garcia - June 1 at 6:30 PM</b>
        </h3>
        <p>
          The June meeting presententation will feature a lecture on the care
          and management of azaleas by Rick Garcia. Mr. Garcia is a student of
          Nakayama-san, of Japan and has studied with him for more than 20years.
          He also is the owner of North American Satsuki Bonsai Center. Satsuki
          azaleas generally bloom between the middle of May and the middle of
          June. Azaleas also have distinctly different growth patterns from most
          of the trees grown as bonsai. The roots on most trees try to descend
          to the bottom of the pot whereas the fine feeder roots of azaleas are
          close to the surface. Get ready to learn more!!
        </p>

        <h3><b>Beginner Bonsai Workshop/Class - June 12 at 9:00 AM</b></h3>
        <p>
          In this class, members of the Milwaukee Bonsai Society will teach you
          the basic techniques of styling a bonsai tree along with proper care.
          Class includes a pre-bonsai juniper and use of supplies. Contact
          Lynden Gardens at 414‐446‐8794 to sign up
        </p>

        <h3>
          <b
            >Bonsai at the Beer Garden with Jennifer Price - June 26 at 2:00
            PM</b
          >
        </h3>
        <p>
          Bring your own trees, pottery, tables, table, chair, food or beer.
        </p>

        <h3><b>Help/Volunteer Wisconsin State Fair</b></h3>
        <p>
          Every year MBS members volunteer to man the bonsai exhibit to keep an
          eye on the trees, and answer questions from the public. MBS members
          wishing to volunteer Check out the State Fair Volunteer Flyer.
        </p>

        <h3><b>MBS artist Houston Sanders highlighted</b></h3>
        <p>
          Bonsai container expert Ryan Bell gives a shout out and thanks to our
          own Houston Sanders for his generous donation to merge Houston's
          database with Ryan's increasing how comprehensive and accurate they
          are. Japanese Bonsai Pots
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card
      >Recent Activities
      <mat-card-content>
        For Recent Activies see
        <a href="https://www.facebook.com/milwaukeebonsai.org/">Facebook</a>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="display: inline-block; width: 300px">
    <mat-card>
      <mat-card-title>New Meeting</mat-card-title>
      <mat-card-subtitle>June 1, 2021</mat-card-subtitle>
      <mat-card-content>
        Guest Artist Rick Garcia
        <br />
        ZOOM
        <br />
        <a
          href="http://www.milwaukeebonsai.org/docs/YC/MembershipApplication.pdf"
          >Join Now</a
        >
      </mat-card-content>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
    <mat-card>
      <mat-card-title>From MBS President</mat-card-title>
      <mat-card-content>
        <p>
          We have the vaccine coming out and the sun will come up every day.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title> Things to Know </mat-card-title>

      <mat-card-content>
        <ul>
          <li><a>Why Do We Repot</a></li>
          <li><a>Orchids for Kusamono</a></li>
          <li><a>Resons to Attend a Convention</a></li>
          <li><a>Selecting Plants for Bonsai</a></li>
          <li><a>Ways to Wabi Sabi</a></li>
          <li><a>Improve Your Bonsai Tips</a></li>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Link of the Week</mat-card-title>
      <mat-card-content>
        <p>
          <a>Fertilizing Application</a>
          <br />
          Some casual experiments for a couple of years, trying many different
          methods for fertilizer application.
          <a>Penjing: A Chinese Renaissance</a>
          In the West, penjing has come a long way. In China, the art of
          miniaturizing trees had roots extending back well over a thousand
          years!
          <a>Archive</a>
          Past links of the week can be found at the right most tab in Links.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="display: inline-block; width: 300px">
    <mat-card>
      <mat-card-title>Volunteer</mat-card-title>

      <mat-card-content>
        <p>
          State Fair Exhibit MBS members wishing to volunteer, see
          <a
            href="https://www.milwaukeebonsai.org/docs/SL/StateFairVolunteerFlyer.pdf"
            >State Fair Volunteer Flyer</a
          >.
          <br />
          Milwaukee Bonsai is supported by volunteers who donate their time to
          advance our art form. If you are eager to share your time and talent
          with us, please let us know.
          <br />
          <a href="https://www.milwaukeebonsai.org/mbs_volunteers.html"
            >Volunteer</a
          >
          <mat-divider inset></mat-divider>
          <a href="mailto:missyuc2@yahoo.com">Contact Past President</a>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Latest Newsletters</mat-card-title>
      <mat-card-content>
        <p>
          Upcoming Meetings, Big Sale of Bonsai Items, Screen shots from Pauline
          Muth Penjing zoom meeting, LSG 2021 Volunteers Needed, Ron's
          presentation at Kellner Greenhouse, Ancient Arts Open House, Atwater
          Bonsai Project still needs 10 Volunteers
        </p>
        <a href="https://www.milwaukeebonsai.org/Newsletters/MBS202105news.pdf">May</a>
        <mat-divider inset></mat-divider>
        <a href="https://www.milwaukeebonsai.org/mbs_newsletters.html">Past Newsletters</a>
      </mat-card-content>
    </mat-card>
    <mat-card>Slideshow</mat-card>
  </div>
</div>
